/* app global css */
.primo {
    /* background-image: linear-gradient(140deg, #007eff, #cf1f1f, yellow, purple) */
    background-color: #2e2b2b;
}
.secundo {
    /* background-color: #ffff95; */
    background-color:#ffffff;
}
.at-input {
    width: 350px;
}

.at-preview {
    max-width: 60vw;
    white-space: pre-wrap;
    background-color: black;
    color: white;
    font-family: 'Courier New', monospace;
    overflow-x: scroll;
}

.at-instructions {
    border: 1px solid;
    border-radius: 3px;
}